<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :tx_type %>
    <%= form.select :tx_type, Transaction::TX_TYPE_OPTIONS %>
  </div>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.select :account_id, options_from_collection_for_select(@accounts, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :tx_date %>
    <%= form.datetime_select :tx_date %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
