<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @transaction.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @transaction.note %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.tx_type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @transaction.value %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @transaction.paid ? 'Yes': 'No' %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.tx_date %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @transaction.currency %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
